.contact {
  height: auto;
  padding: 9rem 0;
  width: 100%;
}

.contact-container {
  max-width: 111rem;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-direction: column;
  max-width: 44.4rem;
} 

p {
  margin: 2.4rem 0 4rem 0;
} 