#root {
  
  min-height: 100vh;

  & * {
    box-sizing: border-box;
  }
}

.App {
  margin: 0 auto;
}

h1 {
  font-size: 7.2rem;
  line-height: 8.64rem;
  font-weight: 700;
}
h2 {
  font-weight: 600;
  font-size: 3.6rem;
  line-height: 4.32rem;
}
h3 {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.16rem;
}

.primary-button {
    max-width: 16rem;
    background-color: white;
    border-radius: 6px;
    text-align: center;
    color: #ED4C5C;
    padding: 1.7rem 5.2rem;
    text-decoration: none;
    font-size: 1.4rem;
}


.secondary-button {
    max-width: auto;
    color: white;
    border-radius: 6px;
    text-align: center;
    background-color: #ED4C5C;
    padding: 1.7rem 5.2rem;
    text-decoration: none;
    font-size: 1.4rem;
}

.text-button {
  color: red;
  text-decoration: none;
  font-size: 1.2rem;
  border: none;
  background: none;
  cursor: pointer;
}